<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Minigame</title>
    <link rel="stylesheet" href="assets/css/master.css" media="screen" title="no title">
    <script src="assets/js/master.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
