<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Minigame</title>
    <link rel="stylesheet" href="assets/css/master.css" media="screen" title="no title">
    <script src="assets/js/Classes/Communicator.js"></script>
    <script src="assets/js/Classes/Entity.js"></script>
    <script src="assets/js/Classes/Game.js"></script>
    <script src="assets/js/Classes/Hitbox.js"></script>
    <script src="assets/js/Classes/Input.js"></script>
    <script src="assets/js/Classes/Model.js"></script>
    <script src="assets/js/Classes/Rectangle.js"></script>
    <script src="assets/js/Classes/Render.js"></script>
    <script src="assets/js/Classes/Vector.js"></script>
    <script src="assets/js/game.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
